<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="datagenerator"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="lifeCycleURI"
               value="bundleclass://DataGenerator/datagenerator.E4LifeCycle">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/DataGenerator/css/default.css">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="parts.DisplayTablePartView"
            id="parts.DisplayTablePartView"
            name="New ViewPart">
      </view>
      <view
            class="parts.Sample"
            id="parts.Sample"
            name="New ViewPart">
      </view>
      <view
            class="datagenerator.parts.DisplayTableViewParyt"
            id="datagenerator.parts.DisplayTableViewParyt"
            name="New ViewPart">
      </view>
   </extension>

</plugin>
